@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");
@import "tailwindcss";

a.active hr {
  display: block;
}
::-webkit-scrollbar {
  display: none;
}
.cart-item-grid {
  @apply py-4 border-t border-b text-gray-700 grid grid-cols-[4fr_0.5fr_0.5fr] sm:grid-cols-[4fr_2fr_0.5] items-center gap-4;
}
.userData-input {
  @apply border border-gray-300 rounded py-1.5 px-3.5 w-full;
}
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: outfit;
}
@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}
.category-tag-line {
  @apply w-3/4 m-auto text-xs sm:text-sm md:text-base text-gray-600;
}
.products-grid {
  @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 gap-y-6;
}

.cart-item-quantity {
  @apply absolute right-[-5px] bottom-[-5px] w-4 text-center leading-4 bg-black text-white rounded-full text-[8px] aspect-square;
}
.our-policy-container {
  @apply flex flex-col sm:flex-row justify-around gap-12 sm:gap-2 text-center py-20 text-sm sm:text-sm md:text-base text-gray-700;
}
